  <P align="center">
    <img src="http://postfiles4.naver.net/MjAxNzA4MThfMTQ3/MDAxNTAzMDQxMDcxMzMz.PvvtKOHSLRHz3zlKcBvIYWgTGY0gABvzfjQStz7BYSUg.Nzkzc8wSYqur3onCsAJRoe7yNRxrB230AHQD3Lfhbr8g.PNG.412anna/%EB%83%89%EB%B6%80%ED%95%B4.png?type=w2"
    style="width: 50%">
  </p>

 
  <center>
<h1 class="hanna" align="center"><Font color = 4b0082>* 나의 냉장고 *</Font></h1>
<hr>

<h3 class="hanna">식재료명 : <Font class="seul"><%= @post.food %></Font></h3>

<h3 class="hanna">수량 : <Font class="seul"><%= @post.count %></Font></h3>

<h3 class="hanna">유통기한 : <Font class="seul"><%= @post.shelflife %></Font></h3>

<h3 class="hanna">유효기간 : <Font class="seul"><%= @due_day %> 일</Font></h3>

<hr>
<h3 class="hanna">- 식재료 관련 메모 -</h3>

<form align="center" action='/posts/show/<%= @post.id %>/comments/create' method='post'>
    <input type='text-area' name='input_comment' required>
     <input type='submit'value="등록">
</form>

<% @comments.each do |comment| %>
    <p class="seul" align="center">
        -> <%= comment.content %> 
        <a href='/posts/show/<%= @post.id %>/comments/destroy/<%= comment.id %>' 
        data-method='post' 
        data-confirm="메모를 삭제하시겠습니까?">
         <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
    </p>
<% end %>
<hr>


<h3 align="center"><a href="/posts/index"><i class="w3-xxlarge fa fa-arrow-left" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/posts/edit/<%= @post.id %>"><i class="w3-xxlarge fa fa-pencil-square-o" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/posts/destroy/<%= @post.id %>" data-confirm="진짜로 삭제 하시겠어요?" data-method="post"><i class="w3-xxlarge fa fa-trash-o" aria-hidden="true"></i></a></i></a></h3>

<!--<h3 align="center"><a href="/posts/index">[냉장고로 돌아가기]</a></h3>-->
<!--<h3 align="center"><a href="/posts/edit/<%= @post.id %>">[수정]</a></h3>-->
<!--<h3 align="center"><a href="/posts/destroy/<%= @post.id %>" data-confirm="진짜로 삭제 하시겠어요?" data-method="post">[삭제]</a></h3>-->

</center>