<link href="//fonts.googleapis.com/earlyaccess/hanna.css" rel="stylesheet" type="text/css">
<link href="//fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet" type="text/css">
	<style type="text/css">
	.hanna { font-family: 'hanna'; }
	.nanum { font-family: 'Nanum Barun Gothic'; }
	h1 { font: 20px;}
	</style>

  <P align="center">
    <img src="http://postfiles1.naver.net/MjAxNzA4MTdfOTQg/MDAxNTAyOTY1MzcxMzcz.oXtetE2cxkP1_RBj3JDbuOq3WaDEhEZvD-nIWgQr22Qg.cSItiss5UNjL9VjE9k9d5S0g3jo_m9JkvovjMpQ9vaEg.PNG.annamon20/main.png?type=w2"
    style="width: 50%" >
  </p>


<h1></h1>

<h2>식재료명 : <%= @post.food %></h2>

<p>수량 : <%= @post.count %></p>

<p>유통기한 : <%= @post.shelflife %></p>

<p><%= @post.difference %> 일</p>
<hr>
<h3>식재료 관련 메모</h3>

<form action='/posts/show/<%= @post.id %>/comments/create' method='post'>
    <input type='text' name='input_comment'>
    <input type='submit'>
</form>

<hr>
<% @comments.each do |comment| %>
    <p>
        -> <%= comment.content %> 
        <a href='/posts/show/<%= @post.id %>/comments/destroy/<%= comment.id %>' 
        data-method='post' 
        data-confirm="메모를 삭제하시겠습니까?">
            [x]
        </a>
    </p>
<% end %>
<hr>

<h3><a href="/posts/index">[냉장고로 돌아가기]</a></h3>
<h3><a href="/posts/edit/<%= @post.id %>">[수정]</a></h3>
<h3><a href="/posts/destroy/<%= @post.id %>" data-confirm="진짜로 삭제 하시겠어요?" data-method="post">[삭제]</a></h3>